
<h3>Todos os Estoques</h3>
<p><b>Patrimônio Total ($): {{patrimonio_total}}</b></p>

<table class="table movietable">
  <tr>

    <th>ID</th>
    <th>Data</th>
    <th>Qtd Inicial</th>
    <th>Qtd Atual</th>
    <th>Preço</th>
    <th></th>
  </tr>
  <tr ng-repeat="estoque in estoques">

    <td>{{estoque.id}}</td>
    <td>{{estoque.data_adicao}}</td>
    <td>{{estoque.qtd_inicial}}</td>
    <td>{{estoque.qtd_atual}}</td>
    <td>{{estoque.preco_unitario}}</td>


  </tr>
  <tr >

    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><b>Total de itens:</b></td>
    <td>{{total_itens}}</td>
    <td>&nbsp;</td>

  </tr>
</table>
