
<div class="form-group">
  <label for="tipo" class="col-sm-2 control-label">Tipo</label>
  <div class="col-sm-10">
    <select id="cargo" ng-model="caixa.tipo">
      <option id="venda" value="venda">Venda</option>
      <option id="compra" value="compra">Compra</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label for="qtd" class="col-sm-2 control-label">Quantidade</label>
  <div class="col-sm-10">
    <input type="number"  min="0" ng-model="caixa.qtd" class="form-control" id="qtd" placeholder="Quantidade"/>
  </div>
</div>
<div class="form-group">
  <label for="preco_unitario" class="col-sm-2 control-label">Preço Unitário</label>
  <div class="col-sm-10">
    <input type="number"  min="0" ng-model="caixa.preco_unitario" class="form-control" id="qtd" placeholder="Preço Unitário"/>
  </div>
</div>

<div class="form-group">
  <label for="tipo" class="col-sm-2 control-label">Funcionário</label>
  <div class="col-sm-10">
    <select ng-model="caixa.funcionarioId" ng-options="funcionario.id as funcionario.primeiro_nome for funcionario in funcionarios">
    </select>

  </div>
</div>

<div class="form-group">
  <label for="commentario" class="col-sm-2 control-label">Comentário</label>
  <div class="col-sm-10">
    <input type="text" ng-model="caixa.comentario" class="form-control" id="comentario" placeholder="Comnetário"/>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="button" ng-show="(caixa.tipo === 'compra')" ng-click="addCompra()" class="btn btn-primary" value="Add Compra"/>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="button" ng-show="(caixa.tipo === 'venda')" ng-click="addVenda()" class="btn btn-primary" value="Add Venda"/>
  </div>
</div>
