<div class="form-group">
  <label for="primeiro_nome" class="col-sm-2 control-label">Primeiro Nome</label>
  <div class="col-sm-10">
    <input type="text" ng-model="funcionario.primeiro_nome" class="form-control" id="primeiro_nome" placeholder="Primeiro Nome"/>
  </div>
</div>
<div class="form-group">
  <label for="ultimo_nome" class="col-sm-2 control-label">Ultimo Nome</label>
  <div class="col-sm-10">
    <input type="text" ng-model="funcionario.ultimo_nome" class="form-control" id="ultimo_nome" placeholder="Ultimo Nome"/>
  </div>
</div>
<div class="form-group">
  <label for="cargo" class="col-sm-2 control-label">Cargo</label>
  <div class="col-sm-10">
  <select id="cargo" ng-model="funcionario.cargo">
    <option id="Administrador" value="Administrador">Administrador</option>
    <option id="Estoquista" value="Estoquista">Estoquista</option>
    <option id="Vendedor" value="Vendedor">Vendedor</option>
  </select>
  </div>
</div>

<div class="form-group">
  <label for="email" class="col-sm-2 control-label">Email</label>
  <div class="col-sm-10">
    <input type="email" required ng-model="funcionario.email" class="form-control" id="email" name="email" placeholder="Email"/>
    <div role="alert">
      <span class="error" ng-show="myForm.email.$error.required">
        Necessario!</span>
      <span class="error" ng-show="myForm.email.$error.email">
        Email invalido!</span>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="password" class="col-sm-2 control-label">Senha</label>
  <div class="col-sm-10">
    <input type="password"  ng-minlength="6" required ng-model="funcionario.password" class="form-control" id="password" name="password" placeholder="Senha"/>
    <div role="alert">


      <span class="error" ng-show="myForm.password.$error.required || myForm.password.$error.minlength">
        Senha de pelo menos 6 digitos necessaria!
      </span>
      <span class="error" ng-show="myForm.password.$error.password">
        Senha invalida!
      </span>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" class="btn btn-primary" value="Save"/>
  </div>
</div>
