<table class="table funcionariotable">
    <tr>
        <td><h3>Detalhes do Funcionario</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>Nome:</td>
        <td>{{funcionario.primeiro_nome}}{{" "}}{{funcionario.ultimo_nome}}</td>
    </tr>
    <tr>
        <td>Cargo:</td>
        <td>{{funcionario.cargo}}</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>{{funcionario.email}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" ui-sref="editFuncionario({id:funcionario.id})">Edit</a>
</div>
