
<h3>DRE</h3>
<form name="myForm" class="form-horizontal" role="form" ng-submit="updateDRE()">
  <div class="form-group">
    <label for="qtd" class="col-sm-2 control-label">Data Inicial</label>
    <div class="col-sm-10">
      <input type="date"  placeholder="dd-MM-yyyy" min="01-01-1990" min="01-01-2050" ng-model="search.data_inicial" class="form-control" id="qtd" />
    </div>
    <label for="qtd" class="col-sm-2 control-label">Data Final</label>
    <div class="col-sm-10">
      <input type="date" placeholder="dd-MM-yyyy" min="01-01-1990" min="01-01-2050" ng-model="search.data_final" class="form-control" id="qtd" />
    </div>
  </div>
</form>

<table class="table movietable">
    <tr>

        <th>ID</th>
        <th>Data</th>
        <th>Qtd Inicial</th>
        <th>Qtd Atual</th>
        <th>Preço</th>
        <th></th>
    </tr>
    <tr ng-repeat="estoque in estoques">

        <td>{{estoque.id}}</td>
        <td>{{estoque.data_adicao}}</td>
        <td>{{estoque.qtd_inicial}}</td>
        <td>{{estoque.qtd_atual}}</td>
        <td>{{estoque.preco_unitario}}</td>


        <!-- <td>
            <a class="btn btn-primary" ui-sref="viewCaixa({id:estoque.id})">View</a>
            <a class="btn btn-danger"  ng-click="deleteCaixa(estoque.id)">Delete</a>
        </td> -->
    </tr>
</table>
